.header {
  padding: 32px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    font: 600 32px/36px var(--font-family);
    color: #000;
  }
}
