@import '../../styles/variables.scss';

.header {
  padding: 32px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    font: 600 32px/36px $font-family;
    color: #000;
  }
}
