@import 'variables';

* {
  box-sizing: border-box;
  font: inherit;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;

  width: 100%;
  min-height: 99vh;
  height: max-content;

  font-family: system-ui, -apple-system, var(--font-family), Roboto, sans-serif;
  font-style: normal;

  scroll-behavior: smooth;
  overflow-x: hidden;

  background-color: #FFF;

  animation: fadeOpacityBody .35s ease-in-out;
}

@keyframes fadeOpacityBody {
  from { opacity: 0 }
  to { opacity: 1 }
}

button {
  all: unset;
}

a {
  color: inherit;
  text-decoration: none
}

h1, h2, h4, h5, h6, p, a, label {
  max-width: fit-content;
}

html, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, blockquote, pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

.tempDisableScroll {
  overflow: hidden;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Extralight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Clash Display";
  src: url("../font/ClashDisplay-Bold.otf");
  font-weight: 700;
}
