.container {
  width: 100vw;
  height: calc(100vh - 130px);

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: var(--neutral-50);

  animation: fade .3s;
  transition: background-color .4s;
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

.code {
  font: 800 240px/100% var(--font-family);
  color: #000;
  text-align: center;
  letter-spacing: -0.02em;

  @media (width <= 500px) {
    font-size: 156px;
    line-height: 176px;
  }
}

.backButton {
  margin: 68px 0 0 0;
  padding: 12px 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  font: 500 14px/20px var(--font-family);
  color: #000;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  background-color: #FFF;
  border: 1px solid var(--neutral-200);

  &:is(:hover) {
    background-color: var(--neutral-100);
  }
}

.offer404Button {
  max-width: 400px;
  width: 100%;
  height: 84px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  background-color: #000;

  transition: .6s cubic-bezier(.16, 1, .3, 1);

  font: 500 64px/100% var(--font-family);
  color: #FFF;

  @media (width <= 1080px) {
    font-size: 36px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 84px;
    transform: translateY(-84px);

    transition: .6s cubic-bezier(.16, 1, .3, 1);

    &:nth-child(1) {
      background-color: #000;

      p {
        width: 100%;
        text-align: center;
        color: var(--neutral-50)
      }

      svg path {
        stroke: var(--neutral-50);
      }
    }

    span {
      width: max-content;
      height: 84px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }
  }

  &:is(:hover) {
    div {
      transform: translateY(0);
    }
  }
}
